{% extends 'base.html' %}
{% load comments static %}
{% block sidebar_trigger %}
  <a class="show-on-mobile nav-link m-5" id="js-sidebar-btn" href="#" role="button">
    <i class="fa fa-chevron-right" aria-hidden="true"></i>
  </a>
{% endblock sidebar_trigger %}
{% block units_gap %}{% endblock %}
{% block main %}
  <aside class="unit-1-4 unit-1-on-mobile top-gap">
    <div class="scroll-view bg-white card toc-sidebar" style="height: 100%">
      <div class="card-header">
        目录
      </div>
      <div class="flex-left">
        {# 广告#}
        <div class="unit-1-2">
          <a href="https://cloud.tencent.com/developer/support-plan?invite_code=12mxiar4qzhkl"
             target="_blank"><img
              src="{% static 'blog/images/tencentcloud.jpg' %}" alt=""></a>
        </div>
        <div class="unit-1-2 flex-vertical top-gap">
          <div><a class="text-small" style="color: #6610f2" target="_blank"
                  href="https://cloud.tencent.com/developer/support-plan?invite_code=12mxiar4qzhkl">开通腾讯云+社区专栏，得<span
              style="color: red">180元</span>腾讯云服务器代金券</a>
          </div>
        </div>
        {# 广告#}
      </div>
      <div style="padding: 0 15px" class="text-center">
        <a style="color: #bb60d5" class="text-small top-gap" href="mailto:zmrenwu_blog@163.com">成为赞助商</a>
      </div>
      <div class="card-body">
        <ul>
          <li>
            <h6 class="top-gap-0"><a href="">{{ post.category }}</a></h6>
            <ul>
              {% for tutorial_post in post_list %}
                <li>
                  <a href="{{ tutorial_post.get_absolute_url }}">{{ tutorial_post.title }}</a>
                  {% if tutorial_post.pk == post.pk %}
                    {{ post.toc |safe }}
                  {% endif %}
                </li>
              {% endfor %}
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </aside>
{% endblock main %}
{% block side %}
  <div class="unit-3-4 unit-1-on-mobile top-gap">
    {% include 'blog/_tutorial_post_detail.html' %}
  </div>
{% endblock side %}